{# @MajoraGenerator({"force_generation": true}) #}
{% form_theme form 'bootstrap_3_layout.html.twig' %}

{% extends 'GescoAdminMajoraNamespaceBundle:MajoraEntity:layout.html.twig' %}

{% block content %}
<div class="panel">
    <header class="panel-heading composed green">
        <span class="combo">{{ block('majora_entity_icon') }}</span>
        <h3>{% block majora_entity_form_title '' %}</h3>
        <a class="combo pull-right" href="{{ url('gesco_admin_majora_entity_list') }}">
            <i class="fa fa-times"></i>
            {{ 'admin.majora_entity.form.cancel_button'|trans }}
        </a>
        {% block majora_entity_form_panel_heading_misc '' %}
    </header>
    <div class="panel-body">
        <form action="{% block majora_entity_form_action '' %}"
            method="POST" {{ form_enctype(form) }} >
            {{ form_rest(form) }}
            <button type="submit" class="btn btn-primary">
                <i class="fa fa-check"></i>
                {{ 'admin.majora_entity.form.submit_button'|trans }}
            </button>
        </form>
    </div>
</div>
{% endblock %}

