{# @MajoraGenerator({"force_generation": true}) #}
{% extends 'GescoAdminMajoraNamespaceBundle:MajoraEntity:layout.html.twig' %}

{% block active_breadcrumb %}
    <li class="active">{{ 'admin.majora_entity.breadcrumb.list'|trans }}</li>
{% endblock %}

{% block content %}
<div class="panel">
    <header class="panel-heading composed green">
        <span class="combo">{{ block('majora_entity_icon') }}</span>
        <h3>{{ 'admin.majora_entity.list.title'|trans }}</h3>
        <a class="combo pull-right" href="{{ url('gesco_admin_majora_entity_create') }}">
            <i class="fa fa-plus"></i>
            {{ 'admin.majora_entity.form.create_button'|trans }}
        </a>
        {% block majora_entity_list_panel_heading_misc '' %}
    </header>
    <div class="panel-body">
        <table class="table table-striped table-bordered table-hover table-advance">
            <thead>
                <tr>
                {% block majora_entity_list_thead_checkbox %}
                {#
                    <td class="datatable-unsortable"><input type="checkbox" class="table-checkbox-master"></td>
                #}
                {% endblock %}
                {% block majora_entity_list_thead %}
                    <td class="datatable-default-sort">Id</td>
                {% endblock %}
                    <td class="actions datatable-unsortable">
                        {{ 'admin.majora_entity.list.table.head.actions'|trans }}
                    </td>
                </tr>
            </thead>
            <tbody>
            {% for majoraEntity in majoraEntityCollection %}
                <tr>
                {% block majora_entity_list_tr_checkbox %}
                {#
                    <td>
                        <input type="checkbox" class="table-checkbox" name="elementIds[]" value="{{ majoraEntity.id }}">
                    </td>
                #}
                {% endblock %}
                {% block majora_entity_list_tr %}
                    <td><a href="{{ url('gesco_admin_majora_entity_update', { id: majoraEntity.id }) }}">
                        {{ majoraEntity.id }}
                    </a></td>
                {% endblock %}
                    <td class="actions">
                    {% block majora_entity_list_tr_action %}
                        <a class="btn btn-primary btn-xs" href="{{ url('gesco_admin_majora_entity_update', { id: majoraEntity.id }) }}">
                            <i class="fa fa-pencil"></i>
                        </a>
                    {% endblock %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ include('GescoAdminAppBundle:Includes:datatables.html.twig') }}
{% endblock %}

{% block js_templates %}
{# uncomment this to set actions on checked elements
    <div class="template" data-template="list_checkbox_actions">
        <div class="dropdown datatable-checkbox-actions">
            <a href="#" class="dropdown-toggle btn btn-default" data-toggle="dropdown" aria-expanded="false">
                <span>{{ 'admin.datatables.checkbox_actions'|trans }}</span>
                <b class="caret"></b>
            </a>
            <ul class="dropdown-menu extended">
                <li>
                    <a data-action="{{ url('gesco_admin_majora_entity_collection_enable') }}" class="checkbox-action" href="#">
                        {{ 'admin.majora_entity.list.actions.enable'|trans }}
                    </a>
                </li>
                <li>
                    <a data-action="{{ url('gesco_admin_majora_entity_collection_disable') }}" class="checkbox-action" href="#">
                        {{ 'admin.majora_entity.list.actions.disable'|trans }}
                    </a>
                </li>
            </ul>
        </div>
    </div>
#}
{% endblock %}
